---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.title }}</title>
    <description>{{ site.description }}</description>
    <link>{{ site.url }}/</link>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml"/>
    <language>en</language>
    {%- for post in collections.posts | head(20) %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ site.url }}{{ post.url }}</link>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <guid>{{ site.url }}{{ post.url }}</guid>
      <description>{{ post.data.description }}</description>
    </item>
    {%- endfor %}
  </channel>
</rss>
