---
layout: layouts/base.njk
bodyClass: page
---
<div class="container">
  <article class="page-content">
    <header class="post-header">
      <h1>{{ title }}</h1>
    </header>
    {{ content | safe }}
  </article>
</div>
